body {
    font-family: Roboto;
    background-color: #1f2937;
}

.navbar {
    background-color: #1f2937;
    color: #fff;
    height: 60px;
    border: red solid;
    
}

ul {
    list-style-type: none;
}

header {
    background-color: #1f2937;
}

.logo {
    font-weight: bold;
}


img {
    width: 200px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 15px ;
}