body {
    font-family: Roboto;
    background-color: #1f2937;
}

.navbar {
    background-color: #1f2937;
    height: 60px;
}

ul {
    list-style-type: none;
}

header {
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
		font-size: 24px;
    font-weight: bold;
}


img {
    width: 200px;
}

/*.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}*/

.navbar a {
    color: #fff;
    text-decoration: none;
    
}

.navbar .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 15px ;
}

#toppic {
    width: 300px;
    margin-left: 25px;
    border-radius: 5px;
}

.header .container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.top-info h1 {
    color: #f9faf8;
		font-size: 48px;
		font-weight: 900;
}

.top-info p {
	font-size: 18px;
	color: #e5e7eb;
}

#btn1 {
    background-color: #3882f6;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    padding: 5px 15px
}

.header .container {
    display: flex;
}

.info .container {
	  /*border: red solid;*/
    display: flex;
		flex-direction: column;
    flex: 1;
    background-color: #fff;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    /*padding: 0px 350px;*/
}

#info-h2 {
	/*border: red solid;*/
	font-size: 36px;
	color: #1f2937;
	font-weight: 900;
}

.infoboxes {
	/*border: red solid;*/
	display: flex;
	justify-content: center;
}


.img-info {
    border-radius: 20px;
    border: #3882f6 solid;
}

.statements {
    display: flex;
    background-color: #e5e7eb;
    height: 200px;
    align-items: center;
    justify-content: center;
		padding: 40px;
}

#quote {
	width: 300px;
	font-style: italic;
	color: #1f2937;
}

.signup {
	display: flex;
	background-color: #fff;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;

}

.blue-box {
	display: flex;
	padding: 10px 10%;
	justify-content: center;
	gap: 10rem;

}

.signup .blue-box {
	background-color: #3882f6;
	border-radius: 10px;
}

.banner h3 {
	color: #f9faf8;
}

.banner p {
	color: #e5e7eb;
}

#btn2 {
	border: #fff solid;
	border-block-width: 2px;
	border-radius: 5px;
	background-color: #3882f6;
	color: #fff;
	height: 30px;
	padding: 3px 20px;
	align-self: center;
}

footer {
	display: flex;
	color: #fff;
	padding: 20px;
	justify-content: center;
}